#topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: aquamarine;
    z-index: 9999;
}

#topbar #coinText{
    position: absolute;
    top: 0;
    right: 20px;
    margin: 5px;
    color: #fd2;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

@supports (-webkit-text-stroke: 1px #000) {
    #topbar #coinText{
        text-shadow: none;
        -webkit-text-stroke: 1px #000;
    }
}